**/venv
./vscode
.idea
**/__pycache__/
*.pyc


*.egg-info
*.egg
*.pyo
*.pyd
*.db
.DS_Store
.env
.env.*
*.log
*.sqlite3
*.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pytest_cache/
.tox/
.cache/
*.bak
*.swp
*.swo
*.orig
*.tar.gz
*.zip
*.ipynb_checkpoints

.venv
output

*build
*dist